@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #020303;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

button,
a {
  font-family: inherit;
}

button {
  border: none;
  outline: none;
}

::selection {
  background: #00e5ff;
  color: #000000;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #020303;
}

::-webkit-scrollbar-thumb {
  background: #00e5ff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}